@use "./abstracts/variables" as *;
@use "./pages/Home"	;
@use "./pages/Details";
@use "./components/Header";
@use "./components/Card";
@use "./components/ErrorMessage";
@use "./abstracts/breakpoints";

body {
	background-color: $grey-200 !important;
	color: $color-white !important;
	overflow-x: hidden;
}

