@use "./abstracts/variables" as *;
@use "./pages/Home";
@use "./components/Header";
@use "./components/Card";
@use "./components/ErrorMessage";

body {
	height: 100vh;
	background-color: $background-primary !important;
	color: $color-white !important;
}
#root {
	height: 100vh;
}
