@use "./abstracts/variables" as *;
@use "./pages/Home";
@use "./pages/Details";
@use "./components/Header";
@use "./components/Card";
@use "./components/ErrorMessage";
@use "./abstracts/breakpoints";

body {
	height: 100vh;
	background-color: $grey-200 !important;
	color: $color-white !important;
}
#root {
	position: absolute;
	height: 100vh;
	width: 100vw;
}
