// Fonts
$font-logo: "Rubik", sans-serif;
$font-fantasy: fantasy, sans-serif;

// Colors
$grey-100: #3f4e62;
$grey-200: #2b3543;
$grey-300: #2b3a50;
$grey-400: #3f4e6278;

$blue-100: #a1bfec;
$blue-200: #a1bfec7d;

$color-white: #ffff;
$color-black: #000000;
$green-light: #5cc6b3;
