// Fonts
$font-logo: "Rubik", sans-serif;
$font-fantasy: fantasy, sans-serif;

// Colors
$background-primary: #2b3543;
$background-secondary: #2b3a50;
$background-tertiary: #3f4e62;

$color-white: #ffff;
$color-black: #000000;
$green-light: #5cc6b3;
