@use "../abstracts/variables" as *;

.home__button {
	position: absolute;
	color: $color-black;
	margin: 4px 5px;
	background-color: transparent;
	border: none;
}
.home__input {
	padding-left: 2.3rem !important;
}
